.wrapper {
  width: 100%;
  text-align: inherit;
  word-break: break-all;
}

.text {
  border-bottom: 2px solid transparent;
  transition: color 200ms ease-in;
}

.text:hover {
  color: var(--gray);
}
