.text {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  overflow: hidden;
  text-align: inherit;
  font-family: inherit;
  resize: none;
}

.focusLine:focus {
  border-bottom: 2px solid var(--blue);
}
