.header {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.button {
  height: 2rem;
  width: 4rem;
}
