.wrapper {
  display: flex;
  width: 100%;
  border: var(--border);
  border-radius: 10px;
}

.index {
  width: 1.5rem;
  border-radius: 10px 0 0 10px;
  background-color: var(--lightGray);
}

.paragraphs {
  width: 100%;
  z-index: 2;
}
