.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
}

.author {
  font-weight: 700;
}

.pending {
  margin-left: 1rem;
  border: solid 2px var(--blue);
  border-radius: 10px;
  color: var(--blue);
  padding: 0 8px;
}

.p {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-radius: 5px;
}
