.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  justify-content: space-between;
}

.middle {
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .column {
    width: 66%;
  }

  .middle {
    transform: translate(50%);
  }
}
