.wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
}

.wrapper:hover {
  cursor: pointer;
}

.index {
  width: 1rem;
  font-size: var(--h6);
}

.p {
  margin: 0;
  width: 100%;
  height: fit-content;
  word-break: break-all;
}
