.list {
  margin: 0;
  width: 100%;
}

.writing {
  height: 3rem;
  margin: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mobile-writing {
  margin: 0;
  border-bottom: var(--border);
}
