.wrapper {
  display: flex;
  padding: 0.5rem 0;
  width: 100%;
}

.wrapper:hover {
  cursor: pointer;
}

.index {
  position: relative;
  top: 2px;
  left: -14px;
  width: 1rem;
  font-size: var(--h6);
}
