.wrapper {
  margin: 1rem 0;
}

.header {
  position: absolute;
  display: flex;
  transform: translateY(0.7em);
}

.button {
  cursor: pointer;
}

.type {
  position: relative;
  font-weight: 700;
}

.isOver {
  border-bottom: solid 2px red;
}
